<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!-- 
  - See the COPYRIGHT.txt file distributed with this work for information
  - regarding copyright ownership.
  -
  - This software is made available by Red Hat, Inc. under the terms of the
  - Eclipse Public License v1.0 which accompanies this distribution and is
  - available at http://www.eclipse.org/legal/epl-v10.html.
  -
  - See the AUTHORS.txt file in the distribution for a full listing of
  - individual contributors.
-->

<plugin>

<!-- Context Help -->
    <extension point="org.eclipse.help.contexts">
        <contexts
            file="ModeShapeHelpContexts.xml"
            plugin="org.jboss.tools.modeshape.rest">
        </contexts>
    </extension>
    
<!-- Help Table of Contents -->
    <extension point="org.eclipse.help.toc">
        <toc file="toc.xml" primary="true" />
    </extension>
    
<!-- Help Indexes -->
   <extension
         point="org.eclipse.help.index">
         <index
               file="index.xml">
         </index>
   </extension>

<!-- Welcome Page content -->
   <extension
         point="org.eclipse.ui.intro.configExtension">
         <configExtension
               configId="org.eclipse.ui.intro.universalConfig" 
               content="intro/rest-overview.xml">
         </configExtension>
   </extension>

</plugin>
