<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<!-- 
  - See the COPYRIGHT.txt file distributed with this work for information
  - regarding copyright ownership.
  -
  - This software is made available by Red Hat, Inc. under the terms of the
  - Eclipse Public License v1.0 which accompanies this distribution and is
  - available at http://www.eclipse.org/legal/epl-v10.html.
  -
  - See the AUTHORS.txt file in the distribution for a full listing of
  - individual contributors.
-->
<plugin>

<!-- Root Preference Page -->
   <extension
         point="org.eclipse.ui.preferencePages">
      <page
            class="org.jboss.tools.modeshape.ui.preferences.RootPreferencePage"
            id="org.jboss.tools.modeshape.ui.rootModeShapeToolsPreferencePage"
            name="%rootPreferencePage.name">
      </page>
   </extension>

</plugin>
